<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quaero.quaerosmartplatform.domain.mapper.OPORMapper">

    <select id="oporList" resultType="com.quaero.quaerosmartplatform.domain.entity.OPOR">
        SELECT distinct CardCode,CardName FROM [dbo].[OPOR]
    </select>
</mapper>
